name: flutter_map_marker_popup_example
description: Example for Flutter Map Marker Popups.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.17.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  latlong2: ">=0.7.0 <1.0.0"
  #flutter_map: ^3.0.0
  flutter_map_marker_popup:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
  fonts:
    - family: AccurateMapIcon
      fonts:
        - asset: fonts/AccurateMapIcon.ttf
